.monospace {
    font-family: courier, courier new, serif;
}


/*Giro horizontal de imagen en CSS3*/
#div-tabla-letras img:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}


#div-tabla-letras img:hover {

    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;

}